body {
  background-image: url("./images/tic-tac-toe-background-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  line-height: 70px;
}


.card {
  background-color: white;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px; 
  border-radius: 1em;
  padding: 2em;
  /* justify-content: center; */
  /* text-align: center; */
  box-shadow: 5px 5px 10px;
}

.cell {
  width: 125px;
  background-color: rgb(135, 206, 250);
  /* height: px; */
  border: 1px solid;
  line-height: 100px;
  font-size: 120px;
  cursor: pointer;
  text-align: center;
}

.cell:hover {
  background-color: white;
}

